<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registration-successful</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registration-successful</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registration Successful</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="primary">
        <h3>{{userName}}, Your registration was successful. Please proceed to login page.</h3>
      </ion-text>
      <ion-button expand="block" size="large" [routerLink]="['/home']">Go Home</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>