<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register-user-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register-user-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-input [(ngModel)]="userName" label="Enter Name" placeholder="Enter name" type="text" fill="outline"
      label-placement="floating"></ion-input>
    <ion-button expand="block" [routerLink]="['/register-user-face']" (click)="saveUserName()">Save</ion-button>
  </div>
</ion-content>